{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="images/banners/1.jpg" class="img-fluid rounded">
        </div>
    </div>
</section>

<section class="section-name padding-y-sm">
    <div class="container">
        <div class="row">
            {% for article in page_obj.object_list %}
            <div class="col-md-3 news-container mb-5">
                <div class="card card-product-grid">
                    {% if article.image %}
                    <a href="{% url 'details' article.id %}" class="img-wrap"> 
                        <img src="{{ article.image }}">
                    </a>
                    {% else %}
                    <a class="text-secondary font-weight-bold" href="{% url 'details' article.id %}">{{ article.description }}</a>
                    {% endif %}
                    <figcaption class="info-wrap">
                        <a class="text-secondary font-weight-bold" href="{% url 'details' article.id %}">{{ article.title }}</a>
                    </figcaption>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination controls -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</section>

{% endblock content %}
